/* parecido a declarar variables globales en java  */
:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #26939f;
    --gris: #757575;

}

/* llama a un elemento o etiqueta de HTML */
html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
}

/* Se aplica desde 0 pixeles */
body {
    background-color: bisque;
}

/* Recomendado 
480 para moviles
768 para tables
*/

@media (min-width: 480px) {
    body {
        background-color: blue;
    }
}

@media (min-width: 768px) {
    body {
        background-color: cornflowerblue;
    }
}



/* Comentatios*/
/* Hace referencia a las clases*/

.titulo{
    text-align: center;
    font-size: 3.8rem;

}

/* Editar espeificamente la palabra delevoper*/
.titulo span {
    font-size: 2rem;
}

.navegcion-principal    {
    background-color: var(--secundario);
    /* margen es por fuera y padding es por dentro */
   /* padding-top: 1rem;
    padding-bottom: 1rem; */
   /* padding: 1rem; */
    display: flex; /* Flexbox esta diseniado para alinear elementos en tus disenio */
    /* justify-content para FILAS / aling-items es para COLUMNAS (flex-direction) */
    justify-content: space-between;
    font-weight: bold;
    font-size: 2rem;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .navegcion-principal {
        flex-direction: row; /* alinear en filas */
        justify-content: space-between;

    }
}


.navegcion-principal a {
    color: var(--blanco);
    text-decoration: none; /*remueve el estilo subrayado en el texto */
    padding: 1rem;
}


/* Al poner el cursos en el hipervinculo*/
.navegcion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
} 

.contenedor {
    max-width: 120rem; /* 1200 pixeles porque 1 rem = 10 px. Unidad de medida*/
    /* margin-top: 0
    margin-bottom: 0
    margin-right: 0
    margin-lefth:0*/
    margin: 0 auto;
}

.nav-bg {
    background-color: var(--secundario);
}

.hero {
    background-image: url(../img/hero.jpg); /* ../ es para regresar un nivl del directorio ya que la carpeta img esta afuera de css */
    background-repeat: no-repeat; /* Sirve para evitar la repeticion de la imagen cuamd es pequenio*/
    background-size: cover; /* Sirve para cubrir la imagen con todo el tamanio posible */

}
