/* parecido a declarar variables globales en java  */
:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #26939f;
    --gris: #757575;
    --gris_claro: #b6b6b6 /* Se agrego b6b6b6b6 */

}

/* llama a un elemento o etiqueta de HTML */
/* Truco para uniformidad entre navegadores*/
html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-family: 'Krub', sans-serif; /* Se modifica el tipo de letra*/
    background-image: linear-gradient(
        to top, var(--gris) 0%, var(--blanco) 100% 
    );

}

/* Se aplica desde 0 pixeles */
/*body {
    background-color: bisque;
} */

/* Recomendado 
480 para moviles
768 para tables
*/

/*@media (min-width: 480px) {
    body {
        /* background-color: ; 
    }
}

/*@media (min-width: 768px) {
    body {
        background-color: cornflowerblue;
    }
} */



/* Comentatios*/
/* Hace referencia a las clases*/

/*.titulo{
    text-align: center;
    font-size: 3.8rem;

} */

/* Editar espeificamente la palabra delevoper
.titulo span {
    font-size: 2rem;
} */

.navegcion-principal    {
    /*background-color: var(--secundario);
    /* margen es por fuera y padding es por dentro */
    /* padding-top: 1rem;
    padding-bottom: 1rem; */
   /* padding: 1rem; */
    display: flex; /* Flexbox esta diseniado para alinear elementos en tus disenio */
    /* justify-content para FILAS / aling-items es para COLUMNAS (flex-direction) */
    justify-content: space-between;
    font-weight: bold;
    font-size: 2rem;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .navegcion-principal {
        flex-direction: row; /* alinear en filas */
        justify-content: space-between;

    }
}


.navegcion-principal a {
    color: var(--blanco);
    text-decoration: none; /*remueve el estilo subrayado en el texto */
    padding: 1rem;
}


/* Al poner el cursos en el hipervinculo*/
.navegcion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
} 

.contenedor {
    max-width: 120rem; /* 1200 pixeles porque 1 rem = 10 px. Unidad de medida*/
    /* margin-top: 0
    margin-bottom: 0
    margin-right: 0
    margin-lefth:0*/
    margin: 0 auto;
}

.nav-bg {
    background-color: var(--secundario);
}

.hero {
    background-image: url(../img/hero.jpg); /* ../ es para regresar un nivl del directorio ya que la carpeta img esta afuera de css */
    background-repeat: no-repeat; /* Sirve para evitar la repeticion de la imagen cuamd es pequenio*/
    background-size: cover; /* Sirve para cubrir la imagen con todo el tamanio posible */
    height: 450px;
    position: relative;


}

.contenido-hero {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7); /* */
    width: 100%;
    height: 100%;
    /* Alinear el texto vertical y horinzontalmente */
    display: flex; /* Ayuda a disponer a todos los elementos */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*color: var(--blanco); /* Mejor usar una varibale antes*/

}

/* En el padre la position debe ser relative y el hijo en este caso .contenido-hero debe se position
/* absolute */

.contenido-hero p,
.contenido-hero h2 {
    color: var(--blanco);
}

/* Tipografias */
h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.8rem;
}

h1, h2, h3 {
    text-align: center;
}

.titulo span {
    font-size: 2rem;
}

.ubicacion {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.ubicacion p {
    margin: 0;
    font-size: 18px;
}

.boton {
    display: inline-block;
    padding: 10px 40px;
    margin-top: 15px;
    background-color: #26939f;
    color: white;
    text-decoration: none; /* Quita el subrayado */
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    font-family: 'Krub', sans-serif;   
    text-transform: uppercase; /* Poner el texto en mayuscula*/
    width: 90%;
    text-align: center;
}

.boton:hover {
    background-color: var(--primario);
    color: var(--oscuro)
}

@media (min-width: 768px) {
    .boton {
        width: auto; /* Se adapta el boton a la pantalla*/
    }
}

/* Servicios */ 
/* Estilos para los seccion de servicios */

/* mq = media query, snipets o atajos */
@media (min-width: 768px) {
    .Servicios {
        display: grid;
        /* grid-template-columns: 1fr 1fr 1fr; /*Divide en tres fracciones iguales*/
        /*grid-template-columns: 33.3% 33.% 33.%; /* Igual se puede poner por porcentajes */
        grid-template-columns: repeat(3, 1fr);
        /*(cuantas veces se va a repetir, lo que se va a repetir)*/
        /* Esta propiedad define el area de las columnas y la funcion repite tres vecces
        1 fraccion en el grid/rejilla/cuadricula */
        column-gap: 1rem; /* Poner espacio vacio entre columnas*/

    }
}

/* centrar iconos*/
.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    color: var(--secundario);
    font-weight: normal;
}

p {
    text-align: center;
    line-height: 2; /*Interlineado */
}

.iconos {
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%; /* Lo hace circular */
    /* Centrar elementos horizontal y vertical*/
    display: flex;
    justify-content: space-evenly;
    align-items: center; /* Centrar elementos*/

}
